<div>
    <sw-card title="Preisentwicklung">
        <div class="custom-chart-page">
            <sw-chart
                    :type="'line'"
                    :series="[
                             {
                             name: 'Preis',
                             data:products
                             },
                             ]"
                    :options="{
                              title: {
                                  text: 'Verkaufspreis'
                              },
                              xaxis: {
                                  type: 'datetime',
                                  min: minimum,
                                  {#max: 1559952000000#}
                              },
                              yaxis: {
                                  min:0,
                                  tickAmount:3,
                                  labels:{
                                      formatter: (value) => { 
                                          return value
                                      }
                                  }
                              }
                              }"
                    :fillEmptyValues="day"
                    :sort="true">
            </sw-chart>
            <sw-chart
                    :type="'line'"
                    :series="[
                             {
                             name: 'Preis',
                             data:ekproducts
                             },
                             ]"
                    :options="{
                              title: {
                                  text: 'Einkaufspreis'
                              },
                              xaxis: {
                                  type: 'datetime',
                                  min: ekminimum,
                                  {#max: 1559952000000#}
                              },
                              yaxis: {
                                  min:0,
                                  tickAmount:3,
                                  labels:{
                                      formatter: (value) => { 
                                          return value
                                      }
                                  }
                              }
                              }"
                    :fillEmptyValues="day"
                    :sort="true">
            </sw-chart>
        </div>
    </sw-card>
</div>
